{% extends "layouts.html" %}

{% block content %}

{% include '_messages.html' %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Administrador</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/marcas">Fabricantes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categoria">Categorias</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Adicionar
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/addmarca">Adicionar Fabricantes</a></li>
                  <li><a class="dropdown-item" href="/addcat">Adicionar Categorias</a></li>
                  <li><a class="dropdown-item" href="/addproduto">Adicionar Produtos</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</div>
<div class="container mt-3">
    <table class="table table-sm table-striped">
        <thead>
            <th>Serial</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Desconto</th>
            <th>Fabricante</th>
            <th>Fotos</th>
            <th>Editar</th>
            <th>Deletar</th>
        </thead>

        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{produto.name}}</td>
                <td>{{produto.price}}</td>
                <td>{{produto.discount}} %</td>
                <td>{{produto.marca.name}}</td>
                <td><img src="{{url_for('static', filename='images/'+ produto.image_1)}}" width="150" height="150"></td>
                <td><a href="{{url_for('updateproduto', id=produto.id)}}" class="btn btn-success btn-sm">Editar</a> </td>
                <td>
                  <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{produto.id}}">
                    Deletar
                  </button>
                </td>
            </tr>

            
      
    <div class="modal fade" id="exampleModal-{{produto.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{produto.name}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <span class="text-danger">Deseja realmente deletar o produto {{produto.name}}?</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal">Voltar</button>

            <form action="{{url_for('deleteproduto', id=produto.id)}}" method="POST">
              <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
            </form>

          </div>
        </div>
      </div>
    </div>      
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}