{% extends "layouts.html" %}

{% block content %}

{% include '_messages.html' %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/admin">Administrador</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/marcas">Fabricantes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categoria">Categorias</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Adicionar
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/addmarca">Adicionar Fabricantes</a></li>
                  <li><a class="dropdown-item" href="/addcat">Adicionar Categorias</a></li>
                  <li><a class="dropdown-item" href="/addproduto">Adicionar Produtos</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</div>
<div class="container mt-3">
    <table class="table table-sm table-striped">
        <thead>
            <th>Serial</th>
            <th>Nome</th>
            <th>Editar</th>
            <th>Deletar</th>
        </thead>

        <tbody>
            {% if marcas %}
            {% for marca in marcas %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{marca.name}}</td>

                <td><a href="{{url_for('updatemarca', id=marca.id)}}" class="btn btn-sm btn-outline-success">Editar</a></td>
                <td><a href="" class="btn btn-sm btn-outline-warning">Deletar</a></td>
            </tr>
            {% endfor %}
            {% else %}
            {% for categoria in categorias %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{categoria.name}}</td>

                <td><a href="{{url_for('updatecat', id=categoria.id)}}" class="btn btn-sm btn-outline-success">Editar</a></td>
                <td><a href="" class="btn btn-sm btn-outline-warning">Deletar</a></td>
            </tr>
            {% endfor %}

            {% endif %}
        </tbody>
    </table>
</div>

{% endblock content %}